<footer>
  <div class="row-socials">
    <img ngSrc="./assets/logo-team-borracha1.jpg" width="120" height="120"/>
    <div class="socials">
        <img ngSrc="/assets/insta.png" width="50" height="50"/>
        <img ngSrc="/assets/face.png" width="50" height="50"/>
    </div>
  </div>
  <br>
  <div class="row-socials">
    <div class="row-contact">
      <h3>Contato</h3>
      <br>
      <p>(31) 2557-1687</p>
      <p>(31) 98425-1029</p>
    </div>
    <div class="row-contact">
      <h3>Endereço</h3>
      <br>
      <p>Avenida Doutor Cincinato Cajado Braga, 162 - Novo Eldorado
        Contagem - MG
        32341-310
        Brasil</p>
    </div>
    <div class="row-contact">
      <h3>Horário de funcionamento</h3>
      <br>

      <p>Segunda a Sexta das 07:00hs as 22:00hs</p>
      <p>Sábado das	09:00hs as 12:00hs</p>
      <p>Domingo:	Encerrado</p>
    </div>
  </div>
  <!-- <section class="benefit-section">
    <div class="row-contact">
      <h3>
        INSCREVA-SE NA NOSSA NEWSLETTER.
      </h3>
      <p>Bem-vindo à newsletter da Team Borracha, sua fonte de informações e novidades sobre o mundo das artes marciais e nossa academia especializada em oferecer treinamentos de alto nível! Em nossa newsletter, você encontrará dicas de treino, informações sobre eventos, entrevistas com nossos instrutores especializados em Boxe, Muay Thai e Jiu-Jitsu, além de histórias inspiradoras de nossos alunos e seus sucessos dentro e fora dos tatames.</p>
      <br/>
      <p>Nossa academia, é reconhecida pela excelência no ensino das artes marciais e pelo ambiente acolhedor e inclusivo que oferecemos a todos os praticantes, desde iniciantes até atletas de alto rendimento. Aqui, você encontrará não apenas um lugar para treinar, mas uma comunidade dedicada e apaixonada pelas artes marciais, pronta para te apoiar em sua jornada de evolução física e mental.</p>
      <br/>
      <p>Em cada edição da nossa newsletter, trazemos conteúdos exclusivos para ajudar você a aprimorar suas técnicas, manter-se motivado e conectado com a comunidade de praticantes de artes marciais. Não importa se você está começando agora ou se já é um lutador experiente, nossa newsletter é feita para todos os amantes das artes marciais que buscam se aperfeiçoar e crescer nesse universo fascinante.</p>
      <br>
      <p>Não perca tempo, inscreva-se em nossa newsletter e faça parte dessa comunidade de apaixonados por artes marciais e pela Team Borracha!</p>
    </div>
    <div class="row-contact">
      <h3>
        INSCREVA-SE NA NOSSA NEWSLETTER.
      </h3>
      <p>Bem-vindo à newsletter da Team Borracha, sua fonte de informações e novidades sobre o mundo das artes marciais e nossa academia especializada em oferecer treinamentos de alto nível! Em nossa newsletter, você encontrará dicas de treino, informações sobre eventos, entrevistas com nossos instrutores especializados em Boxe, Muay Thai e Jiu-Jitsu, além de histórias inspiradoras de nossos alunos e seus sucessos dentro e fora dos tatames.</p>
      <br/>
      <p>Nossa academia, é reconhecida pela excelência no ensino das artes marciais e pelo ambiente acolhedor e inclusivo que oferecemos a todos os praticantes, desde iniciantes até atletas de alto rendimento. Aqui, você encontrará não apenas um lugar para treinar, mas uma comunidade dedicada e apaixonada pelas artes marciais, pronta para te apoiar em sua jornada de evolução física e mental.</p>
      <br/>
      <p>Em cada edição da nossa newsletter, trazemos conteúdos exclusivos para ajudar você a aprimorar suas técnicas, manter-se motivado e conectado com a comunidade de praticantes de artes marciais. Não importa se você está começando agora ou se já é um lutador experiente, nossa newsletter é feita para todos os amantes das artes marciais que buscam se aperfeiçoar e crescer nesse universo fascinante.</p>
      <br>
      <p>Não perca tempo, inscreva-se em nossa newsletter e faça parte dessa comunidade de apaixonados por artes marciais e pela Team Borracha!</p>
    </div>
  </section> -->
</footer>