<app-header></app-header>
<main>
  <section class="main-section">
    <div class="headline">
      <span>TEAM BORRACHA</span>
      <h1>Academia de Lutas Especializada em Artes Marciais</h1>
    </div>
    <img ngSrc="./assets/paulo-borrachinha.jpg" width="500" height="350">
  </section>
  <section class="benefit-section">
    <div class="benefit-data">
      <h2>
        Aumentou<br/>
        109%
      </h2>
    </div>
    <p>a procura por aulas de Muay Thai, Jiu-Jitsu, Judô... O interesse pelas <b>artes marciais</b> cresceu muito entre os brasileiros.</p>
  </section>
  <section class="cta-section">
    <btn-primary btn-text="AGENDE A SUA AULA EXPERIMENTAL"></btn-primary>
  </section>
  <newsletter-form></newsletter-form>
  <section class="benefit-section">
    <benefit-card
      card-title="Equipe Capacitada"
      img-path="/assets/galeria8.jpeg"
      card-description="A Team Borracha é uma academia de artes marciais especializada em Boxe, Muay Thai e Jiu-Jitsu, conhecida pela excelência técnica e ambiente acolhedor."
    >
    </benefit-card>
    <benefit-card
        card-title="Lutadores Profissionais"
        img-path="/assets/paulo-borrachinha.jpg"
        card-description="Paulo Costa Borrachinha é um lutador brasileiro de MMA, conhecido por sua potência e agressividade no octógono."
    >
    </benefit-card>
  </section>
  <section class="cta-section">
      <h2>Quer elevar sua saúde e sua disposição<br/>
      física para outro nível?</h2>
      <btn-primary btn-text="AGENDE A SUA AULA EXPERIMENTAL"></btn-primary>
  </section>
  <app-footer></app-footer>
</main>
